.card {
  border: 0.1rem solid white;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.1s;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0.2rem 0.2rem white;
  translate: -0.2rem -0.2rem;
}

.card > h2 {
  font-size: 2rem;
  border-left: 0.3rem solid #97D7D7;
}

.card > img {
  border-radius: 1rem;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.tag {
  background: white;
  color: black;
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  font-weight: bold;
  font-size: 0.9rem;
}